/* W3C */
/* W3C */
.quote {
  background: #F2F2F2;
  padding: 10px;
  float: right;
  font-size: 2em;
  font-style: italics; }

.hide {
  display: none; }

dd {
  margin: 0;
  padding: 1em 0 1em 20px; }

dt {
  padding-left: 20px;
  cursor: pointer;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold;
  background: #F2F2F2;
  border-bottom: solid lightgrey 1px;
  border-top: solid white 1px; }

dt:nth-last-child(2) {
  border-bottom: none; }

/* wrapper */
.wrapper, .wrap {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.page-wrapper, .p-wrap {
  position: relative;
  margin: auto;
  max-width: 1200px;
  min-width: 1100px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px; }

/*======================================================== 
header 
==========================================================*/
/* business information across the top of header */
.business-info {
  padding: 5px; }
  .business-info .widget_text {
    color: white;
    float: right; }
  .business-info li {
    display: inline-block;
    margin-left: 20px;
    color: white; }

/* ==============================================================
logo
==================================================================== */
.logo {
  float: left;
  width: 200px;
  display: block;
  position: relative;
  padding: 10px; }
  .logo a:hover {
    color: black !important; }

.logo-img {
  margin: 0; }

/* ============================================================
nav 
================================================================*/
.nav {
  padding: 0;
  display: block;
  position: relative;
  z-index: 10; }
  .nav ul {
    margin: 0;
    padding-top: 10px;
    float: right;
    position: relative;
    right: 0; }
  .nav li {
    position: relative;
    display: inline-block;
    margin-left: -4px; }
    .nav li a {
      color: #1f1f1f;
      display: block;
      padding: 10px 20px;
      text-transform: uppercase;
      font-size: 14px;
      position: relative; }
  .nav a:hover {
    color: white;
    background: #74c14c; }
  .nav ul.sub-menu {
    display: none; }
    .nav ul.sub-menu a {
      padding: 10px;
      width: 300px; }

.nav ul li:hover > ul.sub-menu {
  display: block;
  z-index: 99;
  position: absolute;
  top: 30px;
  margin: 0px 0px 0px -16px;
  padding: 0px;
  border: 1px #808080 solid;
  background-color: #fff;
  width: 300px; }

.current_page_item a {
  color: black; }

/*=============================================================
banner
===============================================================*/
/* banner */
.banner {
  background: #f3eeee; }

.header-form {
  margin: 10px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%, #3b94dd), to(#014d8e));
  background: -webkit-linear-gradient(top, #3b94dd -1%, #014d8e 100%);
  background: linear-gradient(to bottom, #3b94dd -1%, #014d8e 100%);
  padding: 10px;
  color: white; }

/* banner form */
.ajax-loader {
  display: none; }

.informed {
  text-align: right;
  font-size: 24px;
  font-family: 'Pacifico', cursive; }

/* ===============================================================
footer items
=================================================================== */
.footer-items {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%, #3b94dd), to(#014d8e));
  background: -webkit-linear-gradient(top, #3b94dd -1%, #014d8e 100%);
  background: linear-gradient(to bottom, #3b94dd -1%, #014d8e 100%);
  padding: 25px 0;
  border-top: solid 1px #F2F2F2;
  color: #525252; }
  .footer-items ul {
    padding-left: 0; }
  .footer-items .share {
    color: white;
    font: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    padding: 0 10px;
    text-transform: uppercase; }
  .footer-items .follow {
    font-family: 'Pacifico', cursive;
    color: #fbf949;
    font-size: 32px; }
  .footer-items .facebook-btn {
    font-size: 22px; }
  .footer-items .widget_nav_menu {
    text-align: center; }
    .footer-items .widget_nav_menu ul {
      margin: 0;
      padding-top: 10px;
      position: relative;
      right: 0; }
    .footer-items .widget_nav_menu li {
      position: relative;
      display: inline-block;
      margin-left: -4px; }
      .footer-items .widget_nav_menu li a {
        color: white;
        display: block;
        padding: 10px 20px;
        text-transform: uppercase;
        font-size: 14px;
        position: relative; }
    @media (max-width: 45em) { }
  .footer-items .widget_text {
    padding-left: 36px;
    width: 33.3%;
    float: left; }
    @media (max-width: 45em) {
      .footer-items .widget_text {
        float: none;
        width: 90%; } }

/*=============================================================== 
footer 
================================================================*/
footer {
  background: #003f75;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 12px; }
  footer a {
    color: white; }

/*==================================================================
   =BANNER
   ================================================================= */
.caption-1 {
  margin-top: 60px;
  margin-bottom: 20px;
  width: 440px; }

/*======================================================================
    =HOMEPAGE CONTENT
    ==========================================================================*/
.img-down-town {
  height: 350px;
  background: url('../img/down-town.jpg');
  background-size: cover; }

/* ==========================================================================
   =COLOR
   ========================================================================== */
[class^="color"] {
  height: 5em; }

.color-1 {
  background: blue; }

.color-2 {
  background: #74c14c; }

.color-3 {
  background: #289bff; }

.color-4 {
  background: #003f75; }

.color-5 {
  background: #9370E9; }

.color-6 {
  background: #DDD5F8; }

.grey-1 {
  background: #eae9e9; }

.gradient-2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%, #3b94dd), to(#014d8e));
  background: -webkit-linear-gradient(top, #3b94dd -1%, #014d8e 100%);
  background: linear-gradient(to bottom, #3b94dd -1%, #014d8e 100%); }

/* ===========================================================================
  objects
  =========================================================================== */
.box-1 {
  border: solid 1px #003f75;
  border-radius: 8px; }

/* ===========================================================================
  typography
  =========================================================================== */
.frame {
  border-top: solid 3px darkgrey;
  border-bottom: solid 3px darkgrey; }

.headline-1 {
  line-height: 1em;
  color: #74c14c;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 53px;
  text-transform: uppercase; }

.headline-2 {
  line-height: 1em;
  margin: none;
  color: darkgrey;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 63px;
  text-transform: uppercase; }

.headline-3 {
  line-height: 1em;
  color: #74c14c;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 43px;
  text-transform: uppercase; }

.title-1 {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 29px;
  text-transform: uppercase; }

.title-2 {
  display: block;
  font: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 22px; }

.txt-white {
  color: white; }

/* ==========================================================================
   = User input
   ========================================================================== */
.ws-form {
  margin-top: -1.5em; }

input, textarea {
  /* Use for styling text based form elements, like name, email, password. 
  Button/submit specific styles below, those will override */
  display: block;
  padding: 6px;
  margin-bottom: 0;
  margin-top: 0;
  border: 0.1em solid #eee;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  resize: none; }

input:focus, textarea:focus {
  outline: none;
  border-color: blue; }

input[type='button'], input[type='submit'], button, .button {
  border: none;
  background: transparent;
  line-height: 1;
  cursor: pointer;
  padding: 10px 1.5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0; }

.btn-blc {
  margin-top: 10px;
  padding: 7px;
  width: 250px;
  display: block;
  text-align: center; }

.btn-primary {
  color: white;
  background: #74c14c; }

.btn-primary:hover {
  background: #74c14c; }

.btn-primary:focus, .btn-primary:active {
  background: #74c14c; }

.btn-secondary {
  color: white;
  background: #003f75; }

.btn-secondary:hover {
  background: #003f75; }

.btn-secondary:focus, .btn-secondary:active {
  background: #003f75; }

.btn-tertiary {
  font-size: 0.875em;
  background: #289bff; }

.btn-tertiary:hover {
  background: #289bff; }

.btn-tertiary:focus, .btn-tertiary:active {
  background: #289bff; }

.btn-1 {
  color: white !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%, #a4e084), to(#5ea738)) !important;
  background: -webkit-linear-gradient(top, #a4e084 -1%, #5ea738 100%) !important;
  background: linear-gradient(to bottom, #a4e084 -1%, #5ea738 100%) !important; }

.btn-1:hover {
  color: white; }

.btn-2 {
  color: white;
  background: #289bff; }

.btn-2:hover {
  color: white;
  background: #003f75; }

/* ==========================================================================
   =ADJECTIVES
   ========================================================================== */
.ws-adjectives div {
  font-size: 1.5em;
  padding-bottom: 0.25em; }

/* ==========================================================================
   =COLOPHON
   ========================================================================== */
.colophon {
  clear: both;
  text-align: center;
  font-size: 0.875em;
  padding: 1.714em 0;
  border-top: thin solid #eee;
  margin-top: 1.714em; }

/* =========================================================================
   =objects
   ========================================================================= */
.img-1 {
  padding: 10px;
  background: darkgrey;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21); }
